<h2 class="content-block">Usuarios</h2>
<div class="content-block" id="user_content">
    <div class="dx-card responsive-paddings">
        <dx-data-grid 
            [allowColumnReordering]="true"
            [allowColumnResizing]="true"
            [columnAutoWidth]="true"
            [columnHidingEnabled]="true"
            [columns]="columns"
            [dataSource]="dataSource"
            [focusedRowEnabled]="true"
            [filterRow]="{ visible: true }"
            [hoverStateEnabled]="true"
            height="513px"
            (onInitialized)="onInitialized($event)" 
            [remoteOperations]="false" 
            [rowAlternationEnabled]="false"
            [showBorders]="false"
            [showColumnLines]="false"
            [showRowLines]="false"
            [wordWrapEnabled]="false"
            >
            <dxo-column-chooser [enabled]="false" mode="select"></dxo-column-chooser>
            <dxo-export [enabled]="true" [fileName]="'export'"></dxo-export>
            <dxo-filter-row  [visible]="false"></dxo-filter-row>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
            <dxo-load-panel [enabled]="true" shadingColor="rgba(0,0,0,0.25)" [shading]="true"></dxo-load-panel>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 50, 100]" [showNavigationButtons]="true"></dxo-pager>
            <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
            <dxo-search-panel [visible]="true" [highlightSearchText]="true"></dxo-search-panel>
            <dxo-scrolling showScrollbar="always"rowRenderingMode="virtual" mode="virtual" [preloadEnabled]="true"></dxo-scrolling>
            <dxo-sorting mode="single"></dxo-sorting>
        </dx-data-grid>
    </div>
</div>
